.Meme .form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
.Meme .formInput {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
.Meme .formButton {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
}
.Meme .meme--Image {
  max-width: 100%;
}

.Meme .meme {
  position: relative;
}

.Meme .meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: Impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000 -2px 2px 0 #000,
    0 2px 0 #000, 2px 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.Meme .bottom {
  bottom: 0;
}

.Meme .top {
  top: 0;
}
