body {
  font-family: "Roboto Slab", serif;
}
.App h1 {
  font-family: "Playfair Display", serif;
}
.App-header {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  height: 65px;
  color: white;
  padding: 20px;
}
.App .headerImage {
  height: 100%;

  margin-right: 6px;
}

.App .headerTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: auto;
  line-height: 24px;
}

.App .headerSubTitle {
  font-size: 0.75rem;
  font-weight: 500;
}
main {
  padding: 36px;
}
